@import 
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    width: 414px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}

body {
    margin: 0 auto;
    background-color: #f2f2f2;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}

p, dd, li, nav, input, dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 180px;
    padding-top: 10px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 25px;
}

img {
    width: 100%;
    height: auto;
}

main p {
    padding: 0 10px;
}

dl {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 0;
}

dt {
    grid-column-start: 1;
    font-weight: bold;
    padding: 3px 5px;
}

dd {
    grid-column-start: 2;
    margin: 0;
}

ul li {
 padding-bottom: 10px;
}

ol li {
    padding-bottom: 15px;
}

.side {
    background-color: #7ABFBF;
    padding: 10px;
}

.side img {
    width: 100px;
    height: auto;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

.sidecontainer div{
    display: grid;
    grid-template-columns: 115px 1fr;
    margin: 45px 0;
}

.side h3, .side p {
    grid-column-start: 2;
    padding: 0;
}

.side h3 {
    margin: 0 0 10px 0;
}

.side p {
    height: 20px;
    margin: auto 0;
    
}

.side div p:last-child {
    font-weight: bold;
}

.side svg {
    padding: 3px 2px;
}

.mainnav {
    text-align: left;
    width: 414px;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 90px;
    background-color: #f2f2f2;
    z-index: 5;
    box-shadow: 0px 5px 6px #c0c0c0;
}

menu {
    text-align: center;
    width: 100%;
    background-color: #EB5428;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
    background-color: #EB5428;
    padding-top: 70px;
}

.hidden li{
    padding: 5px 0;
}

menu li {
    text-decoration: none;
    margin: 0;
    display: block;
}

label {
    margin: 0 auto;
    line-height: 70px;
    display: block;
    cursor: pointer;
    grid-column-start: 1;
}

label svg {
    position: absolute;
    top: 25px;
    left: 20px;
}

#hamburger {
    display: none;
}

#hamburger:checked + menu .hidden {
    display: grid;
    grid-column: 2 / 3; 
    visibility: visible;
}

menu img {
    width: 0;
    height: 0;
}

.avatar {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 25px;
    right: 20px;
}

.logo {
    display: flex;
    position: absolute;
    top: 15px;
    right: 180px;
}

.search {
    position: absolute;
    top: 90px;
    width: 414px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 30px;
}

.search h3 {
    display: none;
}

button {
    border: #EB5428 solid 2px;
    background-color: #EB5428;
}

.search input {
    height: 51px;
    border:#EB5428 solid 2px;
    width: 300px;
}

.search label {
    display: none;
}

#social li{
    color: #EB5428;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    width: auto;
    text-align: center;
    font-weight: bold;
}

#social svg {
    grid-row: 1/2;
    justify-self: center;
}

#social h3, #social h2{
    display: none;
}

#social ul {
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav li{
    color: #EB5428;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    width: auto;
    text-align: center;
    top: 0;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color:#EB5428;
}

nav svg {
    grid-row: 1/2;
    justify-self: center;
}

nav ul {
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

footer h3 {
    display: none;
}

footer {
    padding: 5px 0;
    text-align: center;
    display: flex;
    flex-flow: column-reverse;
    font-weight: bold;
}

footer img {
    width: 40%;
    height: auto;
    justify-content: center;
    padding: 15px;
    margin: 0 auto;
    grid-row-start: 1;
}

footer {
    display: grid;
    grid-template-rows: auto;
}

footer section:last-of-type {
    display: grid;
    grid-template-rows: 200px 20px 20px;
}

@media screen and (min-width:768px) and (max-width:1279px) {
    html, .mainnav {
        width: 768px;

    }

    .mainnav label, .mainnav input {
        display: none;
    }

    menu {
        background-color: #EB5428;
    }

    .search {
        top: 0;
        z-index: 6;
        right: 150px;
        margin-top: 20px;
        padding: 0px;
    }

    .hidden {
        display: flex;
        width: 768px;
        justify-content: space-around;
        margin: 40px auto 40px auto;
        background-color: #f2f2f2;
        box-shadow: 0px 5px 6px #c0c0c0;
    }

    .hidden li {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-row-start: 2;
        text-align: center;
        color: #EB5428;
        background-color: #f2f2f2;
    }

    .hidden li img {
        width: 50px;
        height: auto;
        grid-row-start: 1;
        margin: 0 auto;
    }

    span {
        background-color: #f2f2f2;
    }

    menu:first-child {
        height: 90px;
    }

    .logo {
        padding: 15px 20px;
        top: 0;
        left: 0;
        background-color: #EB5428;
    }

    h1 {
        text-align: left;
        padding: 30px 0 10px 0;
    }
    
    nav {
        position: absolute;
        justify-content: space-around;
        background-color: #ffffff99;
        width: 768px;
    }

    nav ul {
        margin: 10px auto;
    }

    dl {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }

    dt {
        text-align: right;
    }

    dl {
        align-items: center;
    }

    #Jump {
        grid-template-columns: 250px 1fr;
        display: grid;
        padding: 0 25px 0 auto;
    }

    #Jump section:first-of-type {
        grid-column-start: 1;
    }

    #Jump section:last-of-type {
        grid-column-start: 2;
    }

    ol {
        text-align: left;
    }

    ol li {
        padding: 10px 0;
    }
    
    .sidecontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidecontainer div {
        display: grid;
        grid-template-columns: 110px 250px;
        padding: 20px 0;
    }

    .sidecontainer h3 {
        margin: 5px 0 0 0;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #social {
        grid-column-start: 2;
    }

    footer section:last-of-type {
        grid-row-start: 1;
    }

    .side div p:last-of-type {
        display: flex;
        align-items: center;
        padding: 5px 0;
    }
}

@media screen and (min-width: 1280px) {
    html, .mainnav {
        width: 1280px;
    }

    .mainnav label, .mainnav input {
        display: none;
    }

    menu {
        background-color: #EB5428;
    }

    .logo {
        padding: 15px 20px;
        top: 0;
        left: 0;
        background-color: #EB5428;
    }
    
    .hidden {
        display: flex;
        width: 800px;
        justify-content: space-around;
        margin: 2px auto 40px auto;
        background-color: #f2f2f2;
        top: 0;
        position: absolute;
        padding: 0;
        left: 240px
    }

    .hidden li {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-row-start: 2;
        text-align: center;
        color: #EB5428;
        background-color: #f2f2f2;
    }

    .hidden li img {
        width: 50px;
        height: auto;
        grid-row-start: 1;
        margin: 0 auto;
    }

    .search {
        width: 1280px;
    }

    h1 {
        padding: 10px 0;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    nav li {
        height: 100px;
        grid-template-rows: 50px 20px;
        align-items: center;
    }

    nav {
        width: 146px;
        margin: 0px;
        height: 764px;
        border:#EB5428 solid 2px;
    }

    .middle img {
        grid-column-start: 2;
    }

    .middle {
        display: grid;
        grid-template-columns: 150px 512px 1fr;
    }

    .middle p {
        grid-column-start: 3;
        line-height: 2;
    }

    .details {
        background-color: #0D0D0D;
        color: #7ABFBF;
    }

    dl {
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding: 10px;
    }

    dt {
        grid-row-start: 1;
        grid-column:auto;
    }

    dd {
        grid-row-start: 2;
        grid-column: auto;
    }
    
    #Jump {
        grid-template-columns: 250px 1fr;
        display: grid;
        padding: 0 30px 0 25px;
    }

    #Jump section:first-of-type {
        grid-column-start: 1;
    }

    #Jump section:last-of-type {
        grid-column-start: 2;
    }

    .sidecontainer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 20px 0;
    }

    .sidecontainer img {
        width: auto;
        margin: 0 auto;
    }

    .sidecontainer div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 234px auto auto auto;
    }

    .sidecontainer p, .sidecontainer h3{
        grid-column-start: 1;
        padding-left: 50px;
    }

    .side div p:last-of-type {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }

    .side h3 {
        margin-bottom: 0;
        padding-top: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    #social {
        grid-column-start: 2;
    }

    footer section:last-of-type {
        grid-row-start: 1;
    }

    footer img {
        width: 200px;
    }

    footer section:last-of-type {
        display: grid;
        grid-template-columns: 212px 150px;
    }

    footer small {
        padding-top: 30px;
    }
}